src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd">
	<flow name="getAmericanFlights" doc:id="c192e8c7-0942-4ce2-b565-f01c6e146256" >
		<http:listener doc:name="GET /american" doc:id="55b6d144-4187-4ec6-a035-6a7856f2a264" config-ref="HTTP_Listener_config" path="/american"/>
		<flow-ref doc:name="Set Code" doc:id="36a5a474-bf4a-4adb-a3df-d04146ba806a" name="setCode"/>
		<american-flights-api:get-flights doc:name="Get flights" doc:id="b579fe7e-f189-4906-8f1f-11ab6334b77b" config-ref="American_Flights_API_Config" destination="#[vars.code]" client-id="${american.client_id}" client-secret="${american.client_secret}"/>
	</flow>
	<flow name="getUnitedFlights" doc:id="d15040ab-ffa6-4cdb-95fd-4c2bf89efb90" >
		<http:listener doc:name="GET /united" doc:id="8aaac03f-51d1-4983-acb3-b51fd560dcea" config-ref="HTTP_Listener_config" path="/united"/>
		<flow-ref doc:name="Set Code" doc:id="4e1cb6ed-329d-4381-bbed-f1583af68d06" name="setCode"/>
		<http:request method="GET" doc:name="GET flights" doc:id="89bb274f-bed8-4839-8041-894b248369bc" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	dest : vars.code
}]]]></http:uri-params>
		</http:request>
	</flow>
	<sub-flow name="setCode" doc:id="d7e5af6e-2801-4aa7-b549-557f51c275e7" >
		<set-variable value="#[attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="1ba6444a-0b14-4fdf-8e16-47b9e2ba7b1f" variableName="code"/>
	</sub-flow>
</mule>
