src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:american-flights-api="http://www.mulesoft.org/schema/mule/american-flights-api" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/american-flights-api http://www.mulesoft.org/schema/mule/american-flights-api/current/mule-american-flights-api.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
	<flow name="getFlights" doc:id="4332d83b-a706-404c-a988-70759fd5ae96" >
		<http:listener doc:name="GET /flights" doc:id="94f29808-b9bc-49ff-8a20-9cd99c249378" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET" >
			<http:response statusCode="#[vars.httpStatus default 200]" />
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.airline]" doc:name="airline" doc:id="e11283d9-a998-4f5a-9d54-e52bb6ec59bf" variableName="airline"/>
		<flow-ref doc:name="Set Code" doc:id="d8462a39-3a78-429d-8e55-5fca9bc2e5cb" name="setCode"/>
		<validation:is-true doc:name="Is valid destination" doc:id="310acd04-cc8f-4631-b0cf-9ed830559670" expression="#[['SFO','LAX','CLE','PDX','PDF'] contains vars.code]" message="#['Invalid destination' ++ ' ' ++ (vars.code default ' ')]">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:INVALID_DESTINATION" />
		</validation:is-true>
		<choice doc:name="Choice" doc:id="aa0bcbe6-3d83-4363-87a4-a9f7db8f075f" >
			<when expression='#[vars.airline == "american"]'>
				<flow-ref doc:name="getAmericanFlights" doc:id="ae96ddc9-5ea6-473e-9d8e-f6f0da134657" name="getAmericanFlights"/>
			</when>
			<when expression='#[vars.airline == "united"]'>
				<flow-ref doc:name="getUnitedFlights" doc:id="72fa0cf8-55eb-466d-a538-3b99481d2a5f" name="getUnitedFlights"/>
			</when>
			<when expression='#[vars.airline == "delta"]'>
				<flow-ref doc:name="getDeltaFlights" doc:id="b546d26c-f9b1-4a3b-bdbf-ba1f3df83fe7" name="getDeltaFlights"/>
			</when>
			<otherwise >
				<flow-ref doc:name="getAllAirlineFlights" doc:id="4fc7c4a7-32a2-4a35-8fd1-f4e276ae5a2a" name="getAllAirlineFlights"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="[Flight] to JSON" doc:id="47b68c08-3edf-4284-b06b-63ee50e145e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b9cb7901-7be2-4f1b-abf0-cf567bb59552" message="#[payload]"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="2f5a5bfc-26b9-4dd3-960b-746d150d1e98" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="fa8f5a1a-7098-4dfa-99bc-6b9f61a43846" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "No flights to " ++ vars.code as String
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="200" doc:name="httpStatus" doc:id="093b1d18-93fb-40e7-a97b-012a7a703a1f" variableName="httpStatus"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e8e81ed9-1cb7-45ea-8d73-e3ec9785af5c" type="APP:INVALID_DESTINATION">
				<ee:transform doc:name="error.description" doc:id="5d755810-c5b7-41b7-b16c-65d347a2118b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<set-variable value="400" doc:name="httpStatus" doc:id="d05218fe-8ba6-4c89-99af-7fabad695da2" variableName="httpStatus"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="getAllAirlineFlights" doc:id="12eacfc6-1eee-4208-a08e-a3272d68b1d4" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="e04d1c13-3ac1-4d3e-a0bc-4fc30a9dccf7" >
			<route >
				<try doc:name="Try" doc:id="e89ff08b-38fb-4a8d-8fc7-287b7e0cd929" >
					<flow-ref doc:name="getAmericanFlights" doc:id="fa902dbd-071d-424f-8fb1-5ecdf8af1cb4" name="getAmericanFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="66315f20-6597-48be-bcba-cd96f83d3115" type="ANY">
							<ee:transform doc:name="[]" doc:id="5c656db9-aea7-4052-90ba-a5be9be914c0" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="89bcfb96-e908-4c9a-855e-95233a5acf11" >
					<flow-ref doc:name="getUnitedFlights" doc:id="6e496117-b4f5-4f9c-98b0-dbda056885df" name="getUnitedFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="3209d5ad-f811-48cb-a70d-b282a98966ab" >
							<ee:transform doc:name="[]" doc:id="5a27bd0e-a628-44d9-9ffc-e18898620066" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
			<route >
				<try doc:name="Try" doc:id="ff793076-3a3f-4674-8ee5-82248e98e0be" >
					<flow-ref doc:name="getDeltaFlights" doc:id="216e068b-b1a4-43a6-8504-8adda07c1a31" name="getDeltaFlights" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="47da9b64-37eb-4a30-b9fe-ca093be0a46e" type="ANY">
							<ee:transform doc:name="[]" doc:id="11dcdbdf-0bc7-43ef-9c2e-99c16c80284e" >
								<ee:message >
									<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[]]]></ee:set-payload>
								</ee:message>
							</ee:transform>
						</on-error-continue>
					</error-handler>
				</try>
			</route>
		</scatter-gather>
		<ee:transform doc:name="flatten to [Flight]" doc:id="474c417a-1541-470d-bd61-c8c3e249ab51" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
flatten(payload.payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e4d554b4-c364-4fe8-889f-ad0ae7063d61" message="#[payload]"/>
	</flow>
	<flow name="getAmericanFlights" doc:id="c192e8c7-0942-4ce2-b565-f01c6e146256" >
		<american-flights-api:get-flights doc:name="Get flights" doc:id="b579fe7e-f189-4906-8f1f-11ab6334b77b" config-ref="American_Flights_API_Config" destination="#[vars.code]" client-id="${american.client_id}" client-secret="${american.client_secret}"/>
		<ee:transform doc:name="Transform Message" doc:id="23a63fc8-3b24-42e3-8900-2ad97607e994" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	airlineName: "American",
	availableSeats: payload01.emptySeats,
	departureDate: payload01.departureDate,
	destination: payload01.destination,
	flightCode: payload01.code,
	origination: payload01.origin,
	planeType: payload01.plane."type",
	price: payload01.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="24c5523f-2c1d-4802-bcef-26405ea82239" message="#[payload]"/>
	</flow>
	<flow name="getUnitedFlights" doc:id="d15040ab-ffa6-4cdb-95fd-4c2bf89efb90" >
		<http:request method="GET" doc:name="GET flights" doc:id="89bb274f-bed8-4839-8041-894b248369bc" config-ref="HTTP_Request_config_training" path="/united/flights/{dest}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	dest : vars.code
}]]]></http:uri-params>
		</http:request>
		<ee:transform doc:name="JSON to [Flight]" doc:id="9953c4cd-0a7a-4d4e-8943-ce2964348e92" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload.flights map ( flight , indexOfFlight ) -> {
	airlineName: flight.airlineName,
	availableSeats: flight.emptySeats,
	departureDate: flight.departureDate,
	destination: flight.destination,
	flightCode: flight.code,
	origination: flight.origin,
	planeType: flight.planeType,
	price: flight.price
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5e82e4e4-eeba-45fb-b385-4c25f8b15114" message="#[payload]"/>
	</flow>
	<flow name="getDeltaFlights" doc:id="ea81b7e8-8401-4d68-88ef-27d1f433bc88" >
		<ee:transform doc:name="Pass Code" doc:id="0a6f65b1-617c-478e-b247-8844dfde1b42" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://soap.training.mulesoft.com/
---
{
	ns0#findFlight: {
		destination: vars.code as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="findFlight" doc:name="GET fligthts" doc:id="dfe5cd25-bb31-4180-b7a4-2a7de9277751" config-ref="Delta_Web_Service_Consumer_Config">
			<error-mapping targetType="APP:ANY" />
		</wsc:consume>
		<ee:transform doc:name="SOAP to [Flight]" doc:id="06358986-ead5-4699-bf82-a94ac37c2da4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
ns ns0 http://soap.training.mulesoft.com/
---
payload.body.ns0#findFlightResponse.*return map ( return , indexOfReturn ) -> {
	airlineName: return.airlineName,
	availableSeats: return.emptySeats,
	departureDate: return.departureDate,
	destination: return.destination,
	flightCode: return.code,
	origination: return.origin,
	planeType: return.planeType,
	price: return.price
} as Object {
	class : "com.mulesoft.training.Flight"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6425f548-28a2-48b6-96f3-367866515182" message="#[payload]"/>
	</flow>
	<sub-flow name="setCode" doc:id="d7e5af6e-2801-4aa7-b549-557f51c275e7" >
		<set-variable value="#[attributes.queryParams.code default 'SFO']" doc:name="code" doc:id="1ba6444a-0b14-4fdf-8e16-47b9e2ba7b1f" variableName="code"/>
	</sub-flow>
</mule>
